<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="Consent Raven Test Suite">
			<directory suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">./includes/</directory>
			<directory suffix=".php">./admin/</directory>
			<directory suffix=".php">./public/</directory>
		</include>
		<exclude>
			<directory>./vendor/</directory>
			<directory>./node_modules/</directory>
		</exclude>
	</coverage>

	<php>
		<const name="CONSENT_RAVEN_TESTING" value="true"/>
	</php>
</phpunit>
